Alasdair Hunter <alasdair.hunter@bsc.es> ahunter <alasdair.hunter@bsc.es>
Alasdair Hunter <alasdair.hunter@bsc.es> alasdairhunter <alasdair.a.r.hunter@gmail.com>

Alexander Loew <alexander.loew@lmu.de> ALqquitgit config --global user.name AL <alexander.loew@lmu.de>
Alexander Loew <alexander.loew@lmu.de> Alex <alexander.loew@lmu.de>
Alexander Loew <alexander.loew@lmu.de> loewalex <bulli92@users.noreply.github.com>

Anonymous DLR <esmvaltool@dlr.de>

Axel Lauer <axel.lauer@dlr.de>

Bas Crezee <bascrezee@gmail.com> bascrezee <bascrezee@gmail.com>

Benjamin Müller <b.mueller@iggf.geo.uni-muenchen.de> Ben <b.mueller@iggf.geo.uni-muenchen.de>
Benjamin Müller <b.mueller@iggf.geo.uni-muenchen.de> BenMGeo <b.mueller@iggf.geo.uni-muenchen.de>

Bettina Gier <Bettina.Gier@dlr.de> bettina-gier <Bettina.Gier@dlr.de>

Bill Little <bill.james.little@gmail.com>

Birgit Hassler <birgit.hassler@dlr.de> <33543691+hb326@users.noreply.github.com>
Birgit Hassler <birgit.hassler@dlr.de> <b309143@mlogin100.hpc.dkrz.de>
Birgit Hassler <birgit.hassler@dlr.de> <b309143@mlogin101.hpc.dkrz.de>
Birgit Hassler <birgit.hassler@dlr.de> <b309143@mlogin104.hpc.dkrz.de>
Birgit Hassler <birgit.hassler@dlr.de> <b309143@mlogin108.hpc.dkrz.de>

Björn Brötz <bjoern.broetz@dlr.de> <Bjoern.Broetz@DLR.de>
Björn Brötz <bjoern.broetz@dlr.de> <Bjoern.Broetz@dlr.de>
Björn Brötz <bjoern.broetz@dlr.de> <bjoernbroetz@users.noreply.github.com>

Bouwe Andela <b.andela@esciencecenter.nl> <bouweandela@users.noreply.github.com>

Daniel Senftleben <daniel.senftleben@dlr.de> DSenftleben <daniel.senftleben@dlr.de>
Daniel Senftleben <daniel.senftleben@dlr.de> DSenftleben <DSenftleben@users.noreply.github.com>
Daniel Senftleben <daniel.senftleben@dlr.de> <b380140@mlogin105.hpc.dkrz.de>

Enrico Arnone <e.arnone@isac.cnr.it> <e.arnone@gmail.com>

Faruk Diblen <f.diblen@esciencecenter.nl> Faruk D <f.diblen@esciencecenter.nl>
Faruk Diblen <f.diblen@esciencecenter.nl> Faruk D <fdiblen@users.noreply.github.com>

Federico Serva <federico.serva@gmail.com>

Jaro Camphuijsen <jjecamphuijsen@gmail.com>

Javier Vegas <javier.vegas@bsc.es> <jvegas@jasmin-sci4.ceda.ac.uk>
Javier Vegas <javier.vegas@bsc.es> Javier Vegas-Regidor <javier.vegas@bsc.es>
Javier Vegas <javier.vegas@bsc.es> Javier Vegas-Regidor <jvegas@DESKTOP-A045AVA.localdomain>
Javier Vegas <javier.vegas@bsc.es> jvegas <javier.vegas2bsc.es>
Javier Vegas <javier.vegas@bsc.es> jvegas <javier.vegas@bsc.es>
Javier Vegas <javier.vegas@bsc.es> jvegasbsc <javier.vegas@bsc.es>

J.P.R.B. Walton <jprb.walton@gmail.com> jprb-walton <jprb.walton@gmail.com>

Jost von Hardenberg <hardenberg@gmail.com> jhardenberg <hardenberg@gmail.com>

Katja Weigel <weigel@iup.physik.uni-bremen.de> “katjaweigel” <“weigel@iup.physik.uni-bremen.de”>

Klaus Zimmermann <klaus.zimmermann@smhi.se>

Lee de Mora <ledm@pml.ac.uk> Lee <ledm@pml.ac.uk>

Lisa Bock <lisa.bock@dlr.de> <Lisa.Bock@dlr.de>
Lisa Bock <lisa.bock@dlr.de> Bock <bock_ls@pa2-a.central.bs.cluster>

Manuel Schlund <manuel.schlund@dlr.de> <32543114+schlunma@users.noreply.github.com>

Marit Sandstad <marit.sandstad@astro.uio.no> maritsandstad <marit.sandstad@astro.uio.no>

Mathias Hauser <mathias.hauser@env.ethz.ch>

Mattia Righi <mattia.righi@dlr.de> Mattia RIghi <mattia@linux-xa29.suse>

Niels Drost <n.drost@esciencecenter.nl> <Niels Drost>
Niels Drost <n.drost@esciencecenter.nl> <n.drost@esciencecente.nl>

Nikolay Koldunov <koldunovn@gmail.com>

Nuria Pérez-Zanón <nuria.perez@bsc.es> <40208731+nperezzanon@users.noreply.github.com>
Nuria Pérez-Zanón <nuria.perez@bsc.es> Nuria Perez-Zanon <nperez@jasmin-sci5.ceda.ac.uk>
Nuria Pérez-Zanón <nuria.perez@bsc.es> nperez <nperez@bscearth372.int.bsc.es>
Nuria Pérez-Zanón <nuria.perez@bsc.es> nperezzanon <nuria.perez@bsc.es>

Peter Berg <peter.berg@smhi.se> PeterBergSMHI <peter.berg@smhi.se>
Peter Berg <peter.berg@smhi.se> peter.berg <a001850@c20834.ad.smhi.se>

Ricarda Rettinger <ricarda.rettinger@dlr.de> RicardaRe <ricarda.rettinger@dlr.de>

Ronald van Haren <r.vanharen@esciencecenter.nl>

Sabrina Zechlau <32642158+zechlau@users.noreply.github.com> zechlau <32642158+zechlau@users.noreply.github.com>

Sarah Alidoost <f.alidoost@esciencecenter.nl> SarahAlidoost <f.alidoost@esciencecenter.nl>

Saskia Loosveldt Tomas <saskia.loosveldt@bsc.es> sloosvel <45196700+sloosvel@users.noreply.github.com>
Saskia Loosveldt Tomas <saskia.loosveldt@bsc.es> sloosvel <saskia.loosveldt@bsc.es>

Sujan Koirala <skoirala@bgc-jena.mpg.de> <b301040@mistralpp5.hpc.dkrz.de>
Sujan Koirala <skoirala@bgc-jena.mpg.de> <b301040@mlogin100.hpc.dkrz.de>

The Codacy Badger <badger@codacy.com>

Till Kuhlbrodt <t.kuhlbrodt@reading.ac.uk>

Tobias Stacke <tobias.stacke@mpimet.mpg.de>

Tomas Lovato <tomas.lovato@cmcc.it>

Valerio Lembo <valerio.lembo@uni-hamburg.de> ValerioLembo <valerio.lembo@uni-hamburg.de>
Valerio Lembo <valerio.lembo@uni-hamburg.de> <u234097@mistralpp1.hpc.dkrz.de>
Valerio Lembo <valerio.lembo@uni-hamburg.de> <u234097@mistralpp2.hpc.dkrz.de>
Valerio Lembo <valerio.lembo@uni-hamburg.de> <u234097@mistralpp3.hpc.dkrz.de>
Valerio Lembo <valerio.lembo@uni-hamburg.de> <u234097@mistralpp4.hpc.dkrz.de>
Valerio Lembo <valerio.lembo@uni-hamburg.de> <u234097@mistralpp5.hpc.dkrz.de>
Valerio Lembo <valerio.lembo@uni-hamburg.de> <valeriolembo@apple135.cen.uni-hamburg.de>

Valeriu Predoi <valeriu.predoi@gmail.com>

Veronika Eyring <veronika.eyring@dlr.de> <veyring@users.noreply.github.com>

Yifat Dzigan <y.dzigan@esciencecenter.nl> yifatdzigan <y.dzigan@esciencecenter.nl>

Yoko Tsushima <yoko.tsushima@metoffice.gov.uk>
