---
name: esmvaltool
channels:
  - conda-forge
  - nodefaults

dependencies:
  - cartopy
  - cf-units
  - cftime
  - compilers
  - dask
  - distributed
  - esgf-pyclient>=0.3.1
  - esmpy!=8.1.0  # see github.com/ESMValGroup/ESMValCore/issues/1208
  - fiona
  - fire
  - geopy
  - humanfriendly
  - importlib_resources
  - iris>=3.2.1
  - isodate
  - jinja2
  - nc-time-axis
  - nested-lookup
  - netcdf4
  - numpy
  - pandas
  - pillow
  - pip!=21.3
  - prov
  - psutil
  - pybtex
  - python>=3.8
  - python-stratify
  - pyyaml
  - requests
  - scipy>=1.6
  - shapely
  - yamale
  # Python packages needed for building docs
  - autodocsumm>=0.2.2
  - sphinx>=5
  - sphinx_rtd_theme
  # Python packages needed for testing
  - flake8<5.0  # github.com/ESMValGroup/ESMValCore/issues/1696
  - mypy>=0.990
  - pytest>=3.9,!=6.0.0rc1,!=6.0.0
  - pytest-cov>=2.10.1
  - pytest-env
  - pytest-html!=2.1.0
  - pytest-metadata>=1.5.1
  - pytest-mypy
  - pytest-mock
  - pytest-xdist
  # Not on conda-forge - ESMValTool_sample_data==0.0.3
  # Still for testing, MyPy library stubs
  - types-requests
  - types-pkg_resources
  - types-PyYAML
  # Python packages needed for installing in development mode
  - codespell
  - docformatter
  - isort
  - pre-commit
  - prospector!=1.1.6.3,!=1.1.6.4
  # Not on conda forge - vprof
  - yamllint
  - yapf
