---
name: esmvaltool
channels:
  - conda-forge
  - nodefaults

dependencies:
  - cartopy
  - cf-units
  - cftime
  - dask !=2024.8.0  # github.com/ESMValGroup/ESMValCore/issues/2503
  - dask-jobqueue
  - distributed
  - esgf-pyclient >=0.3.1
  - esmpy !=8.1.0
  - filelock
  - fiona
  - fire
  - geopy
  - humanfriendly
  - iris >=3.11.0
  - iris-esmf-regrid >=0.11.0
  - isodate >=0.7.0  # incompatible with very old 0.6.1
  - jinja2
  - libnetcdf !=4.9.1  # to avoid hdf5 warnings
  - nc-time-axis
  - nested-lookup
  - netcdf4
  - numpy !=1.24.3,<2.0.0  # avoid pulling 2.0.0rcX
  - packaging
  - pandas
  - pillow
  - pip !=21.3
  - prov
  - psutil
  - py-cordex
  - pybtex
  - python >=3.10
  - python-stratify >=0.3
  - pyyaml
  - requests
  - scipy >=1.6
  - shapely >=2.0.0
  - yamale
  # Python packages needed for building docs
  - autodocsumm >=0.2.2
  - ipython
  - nbsphinx
  - sphinx >=6.1.3
  - pydata-sphinx-theme
  # Python packages needed for testing
  - mypy >=0.990
  - pytest >=3.9,!=6.0.0rc1,!=6.0.0
  - pytest-cov >=2.10.1
  - pytest-env
  - pytest-html !=2.1.0
  - pytest-metadata >=1.5.1
  - pytest-mock
  - pytest-mypy
  - pytest-xdist
  # Not on conda-forge - ESMValTool_sample_data==0.0.3
  # Still for testing, MyPy library stubs
  - types-requests
  - types-PyYAML
  # Python packages needed for installing in development mode
  - codespell
  - docformatter
  - isort
  - pre-commit
  - pylint
  - flake8 >= 7
  - pydocstyle
  # Not on conda forge - vprof
  - yamllint
  - yapf
  - pip:
    - ESMValTool_sample_data
