---
name: esmvaltool
channels:
  - conda-forge

dependencies:
  - cftime  # iris=3.0.1 needs <=1.2.1; >=1.3.0 - years<999 get a 0 instead of empty space
  - cf-units>=3.0.0
  - compilers
  - fiona  # 1.8.18/py39, they seem weary to build manylinux wheels and pypi ver built with older gdal
  - esmpy
  - iris>=3.0.2,<3.0.4  # iris=3.0.4 dropped support for Python 3.6 but we haven't just yet (23 July 2021, bugfix release 2.3.1)
  - graphviz
  - python>=3.7
  - python-stratify
  - scipy<1.6  # until ESMValGroup/ESMValCore/issues/927 gets resolved
