---
name: esmvaltool
channels:
  - conda-forge

dependencies:
  - cartopy
  - cf-units>=3.0.0,<3.1.0  # github.com/ESMValGroup/ESMValCore/issues/1655
  - cftime
  - compilers
  # 1.8.18/py39, they seem weary to build manylinux wheels
  # and pypi ver built with older gdal
  - fiona
  - esmpy!=8.1.0  # see github.com/ESMValGroup/ESMValCore/issues/1208
  - geopy
  - iris>=3.2.1
  - nested-lookup
  - netcdf4!=1.6.1  # github.com/ESMValGroup/ESMValCore/issues/1723
  - pandas
  - pillow
  - pip!=21.3
  - python>=3.8
  - python-stratify
  - scipy>=1.6
