---
name: esmvaltool
channels:
  - conda-forge
  - nodefaults

dependencies:
  - cartopy
  - cf-units
  - cftime
  - dask >=2025  # github.com/ESMValGroup/ESMValCore/issues/2503
  - dask-jobqueue
  - distributed
  - esgf-pyclient >=0.3.1
  - esmpy
  - filelock
  - fiona
  - fire
  - geopy
  - humanfriendly
  - iris >=3.11  # 3.11 first to support Numpy 2 and Python 3.13
  - iris-esmf-regrid >=0.11.0
  - iris-grib >=0.20.0  # github.com/ESMValGroup/ESMValCore/issues/2535
  - isodate >=0.7.0  # incompatible with very old 0.6.1
  - jinja2
  - libnetcdf !=4.9.1  # to avoid hdf5 warnings
  - nc-time-axis
  - nested-lookup
  - netcdf4
  - numpy !=1.24.3
  - packaging
  - pandas
  - pillow
  - pip !=21.3
  - prov
  - psutil
  - py-cordex
  - pybtex
  - python >=3.10
  - python-stratify >=0.3
  - pyyaml
  - requests
  - rich
  - scipy >=1.6
  - shapely >=2.0.0
  - yamale
  # Python packages needed for building docs
  - autodocsumm >=0.2.2
  - ipython
  - nbsphinx
  - sphinx >=6.1.3,<8.2
  - pydata-sphinx-theme
  # Python packages needed for testing
  - pytest >=3.9,!=6.0.0rc1,!=6.0.0
  - pytest-cov >=2.10.1
  - pytest-env
  - pytest-html !=2.1.0
  - pytest-metadata >=1.5.1
  - pytest-mock
  - pytest-xdist
  # Not on conda-forge - ESMValTool_sample_data==0.0.3
  # Python packages needed for installing in development mode
  - pre-commit
  - pylint
  # Not on conda forge - vprof
  - pip:
      - ESMValTool_sample_data
