---
version: 2
jobs:
  test:
    # Run tests
    working_directory: /test
    docker:
      - image: continuumio/miniconda3
    steps:
      - checkout
      - run:
          command: |
            # Create a file to checksum as cache key
            date --rfc-3339 date > cache_key.txt
            cat environment.yml >> cache_key.txt
      - restore_cache:
          key: deps3-{{ .Branch }}-{{ checksum "cache_key.txt" }}
      - run:
          # Update/Create Conda environment and run tests
          command: |
            . /opt/conda/etc/profile.d/conda.sh
            # conda update -y conda
            conda env update
            conda activate esmvaltool
            python setup.py test
      - save_cache:
          key: deps3-{{ .Branch }}-{{ checksum "cache_key.txt" }}
          paths:
            - "/opt/conda/envs/esmvaltool"
            - ".eggs"
      - store_test_results:
          path: test-reports/
      - store_artifacts:
          path: test-reports/

  install:
    # Test installation
    working_directory: /install
    docker:
      - image: continuumio/miniconda3
    steps:
      - checkout
      - restore_cache:
          key: python3-install-{{ .Branch }}
      - run:
          command: |
            . /opt/conda/etc/profile.d/conda.sh
            set -x
            mkdir /logs
            # Install
            # conda update -y conda > /logs/conda.txt 2>&1
            conda env update >> /logs/conda.txt 2>&1
            set +x; conda activate esmvaltool; set -x
            conda install -yS r-base r-yaml ncl -c conda-forge
            pip install . > /logs/install.txt 2>&1
            # Log versions
            dpkg -l > /logs/versions.txt
            conda env export > /logs/environment.yml
            pip freeze > /logs/requirements.txt
            # Test installation
            python setup.py test --addopts --installation
            esmvaltool -h
      - save_cache:
          key: python3-install-{{ .Branch }}
          paths:
            - "/opt/conda/pkgs"
            - ".eggs"
      - store_artifacts:
          path: /logs
      - store_artifacts:
          path: test-reports/
      - store_test_results:
          path: test-reports/
      - run:
          when: always
          command: |
            if [[ -v CODACY_PROJECT_TOKEN ]]
            then
              echo Uploading coverage report
              pip install codacy-coverage
              python-codacy-coverage -r test-reports/coverage.xml
            else
              echo Not uploading coverage report
            fi

  documentation:
    # Test building documentation
    working_directory: /doc
    docker:
      - image: continuumio/miniconda3
    steps:
      - checkout
      - restore_cache:
          key: documentation-{{ .Branch }}
      - run:
          command: |
            mkdir /logs
            # Install
            pip install -r doc/requirements.txt > /logs/install.txt 2>&1
            pip install sphinx sphinx_rtd_theme >> /logs/install.txt 2>&1
            # Log versions
            dpkg -l > /logs/versions.txt
            pip freeze > /logs/requirements.txt
            # Test building documentation
            MPLBACKEND=Agg python setup.py build_sphinx --warning-is-error
      - save_cache:
          key: documentation-{{ .Branch }}
          paths:
            - ".eggs"
      - store_artifacts:
          path: /logs

  develop:
    # Test development installation
    working_directory: /develop
    docker:
      - image: continuumio/miniconda3
    steps:
      - checkout
      - run:
          command: |
            . /opt/conda/etc/profile.d/conda.sh
            set -x
            mkdir /logs
            # Install
            # conda update -y conda > /logs/conda.txt 2>&1
            conda env update >> /logs/conda.txt 2>&1
            set +x; conda activate esmvaltool; set -x
            conda install -yS r-base r-yaml ncl -c conda-forge
            pip install -e .[develop] > /logs/install.txt 2>&1
            # Log versions
            dpkg -l > /logs/versions.txt
            conda env export > /logs/environment.yml
            pip freeze > /logs/requirements.txt
            # Test installation
            esmvaltool -h
            python setup.py test --addopts --installation
      - store_artifacts:
          path: /logs

  conda_build:
    # Test conda build
    working_directory: /esmvaltool
    docker:
      - image: continuumio/miniconda3
    steps:
      - checkout
      - run:
          command: |
            . /opt/conda/etc/profile.d/conda.sh
            set -x
            # Install prerequisites
            mkdir /logs
            # conda update -y conda > /logs/conda_base.txt 2>&1
            conda install -y conda-build conda-verify ripgrep >> /logs/conda_base.txt 2>&1
            # Log versions
            dpkg -l > /logs/versions.txt
            conda env export -n base > /logs/build_environment.yml
            # Build conda package
            conda build . -c conda-forge -c esmvalgroup > /logs/build_log.txt
      - store_artifacts:
          path: /logs

  conda_install:
    # Test conda package installation
    working_directory: /esmvaltool
    docker:
      - image: continuumio/miniconda3
    steps:
      - run:
          command: |
            . /opt/conda/etc/profile.d/conda.sh
            set -x
            # Install prerequisites
            mkdir /logs
            # conda update -y conda > /logs/conda.txt 2>&1
            # Create and activate conda environment
            conda create -y --name esmvaltool
            set +x; conda activate esmvaltool; set -x
            # Install
            conda install -y esmvalcore -c esmvalgroup -c conda-forge
            # Log versions
            conda env export > /logs/environment.yml
            # Test installation
            esmvaltool -h
            python -c 'from esmvalcore import *; print(__version__)'

workflows:
  version: 2
  commit:
    jobs:
      - test
      - install:
          requires:
            - test
      - documentation
  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - development
                - master
    jobs:
      - test
      - install
      - documentation
      - develop
      - conda_build
      - conda_install
