###############################################################################
# Developer's configuration file for the ESMValTool
###############################################################################
# This file retains the project- and machine-dependent directory and file name
# definitions of the input and output data
# Each dictionary is structured as follows
#
# PROJECT:
#   input_dir:
#     default:
#     drs1:
#     drs2:
#     etc:
#   input_file:
#   output_file:
#
# Only the default drs is mandatory, the others are optional
###############################################################################
---

CMIP6:
  cmor_strict: true
  input_dir:
    default: '/'
    BADC: '{activity}/{institute}/{dataset}/{exp}/{ensemble}/{mip}/{short_name}/{grid}/{latestversion}'
    DKRZ: '{activity}/{institute}/{dataset}/{exp}/{ensemble}/{mip}/{short_name}/{grid}/{latestversion}'
    ETHZ: '{exp}/{mip}/{short_name}/{dataset}/{ensemble}/{grid}/'
  input_file: '{short_name}_{mip}_{dataset}_{exp}_{ensemble}_{grid}*.nc'
  output_file: '{project}_{dataset}_{mip}_{exp}_{ensemble}_{short_name}_{start_year}-{end_year}'
  cmor_type: 'CMIP6'

CMIP5:
  cmor_strict: true
  input_dir:
    default: '/'
    BADC: '{institute}/{dataset}/{exp}/{frequency}/{modeling_realm}/{mip}/{ensemble}/{latestversion}/{short_name}'
    CP4CDS: '{institute}/{dataset}/{exp}/{frequency}/{modeling_realm}/{mip}/{ensemble}/{short_name}/latest/'
    DKRZ: '{institute}/{dataset}/{exp}/{frequency}/{modeling_realm}/{mip}/{ensemble}/{latestversion}/{short_name}'
    ETHZ: '{exp}/{mip}/{short_name}/{dataset}/{ensemble}/'
    SMHI: '{dataset}/{ensemble}/{exp}/{frequency}'
    RCAST: '{exp}/{mip}/{short_name}/{dataset}/{ensemble}/'
    BSC: '{type}/{project}/{exp}/{dataset.lower}'
  input_file: '{short_name}_{mip}_{dataset}_{exp}_{ensemble}*.nc'
  output_file: '{project}_{dataset}_{mip}_{exp}_{ensemble}_{short_name}_{start_year}-{end_year}'
  institutes:
    'ACCESS1-0': ['CSIRO-BOM']
    'ACCESS1-3': ['CSIRO-BOM']
    'bcc-csm1-1': ['BCC']
    'bcc-csm1-1-m': ['BCC']
    'BNU-ESM': ['BNU']
    'CanAM4': ['CCCma']
    'CanCM4': ['CCCma']
    'CanESM2': ['CCCma']
    'CCSM4': ['NCAR']
    'CESM1-BGC': ['NSF-DOE-NCAR']
    'CESM1-CAM5': ['NSF-DOE-NCAR']
    'CESM1-CAM5-1-FV2': ['NSF-DOE-NCAR']
    'CESM1-FASTCHEM': ['NSF-DOE-NCAR']
    'CESM1-WACCM': ['NSF-DOE-NCAR']
    'CFSv2-2011': ['COLA-CFS', 'NOAA-NCEP']
    'CMCC-CESM': ['CMCC']
    'CMCC-CM': ['CMCC']
    'CMCC-CMS': ['CMCC']
    'CNRM-CM5': ['CNRM-CERFACS']
    'CNRM-CM5-2': ['CNRM-CERFACS']
    'CSIRO-Mk3-6-0': ['CSIRO-QCCCE']
    'EC-EARTH': ['ICHEC']
    'FGOALS-g2': ['LASG-CESS']
    'FGOALS-gl': ['LASG-IAP']
    'FGOALS-s2': ['LASG-IAP']
    'FIO-ESM': ['FIO']
    'fio-esm': ['FIO']
    'GEOS-5': ['NASA-GMAO']
    'GFDL-CM2p1': ['NOAA-GFDL']
    'GFDL-CM3': ['NOAA-GFDL']
    'GFDL-ESM2G': ['NOAA-GFDL']
    'GFDL-ESM2M': ['NOAA-GFDL']
    'GFDL-HIRAM-C180': ['NOAA-GFDL']
    'GFDL-HIRAM-C360': ['NOAA-GFDL']
    'GISS-E2-H': ['NASA-GISS']
    'GISS-E2-H-CC': ['NASA-GISS']
    'GISS-E2-R': ['NASA-GISS']
    'GISS-E2-R-CC': ['NASA-GISS']
    'HadCM3': ['MOHC']
    'HadGEM2-A': ['MOHC']
    'HadGEM2-AO': ['NIMR-KMA']
    'HadGEM2-CC': ['MOHC']
    'HadGEM2-ES': ['INPE', 'MOHC']
    'inmcm4': ['INM']
    'IPSL-CM5A-LR': ['IPSL']
    'IPSL-CM5A-MR': ['IPSL']
    'IPSL-CM5B-LR': ['IPSL']
    'MIROC-ESM': ['MIROC']
    'MIROC-ESM-CHEM': ['MIROC']
    'MIROC4h': ['MIROC']
    'MIROC5': ['MIROC']
    'MPI-ESM-LR': ['MPI-M']
    'MPI-ESM-MR': ['MPI-M']
    'MPI-ESM-P': ['MPI-M']
    'MRI-AGCM3-2H': ['MRI']
    'MRI-AGCM3-2S': ['MRI']
    'MRI-CGCM3': ['MRI']
    'MRI-ESM1': ['MRI']
    'NICAM-09': ['NICAM']
    'NorESM1-M': ['NCC']
    'NorESM1-ME': ['NCC']

OBS:
  cmor_strict: false
  input_dir:
    default: 'Tier{tier}/{dataset}'
    BSC: '{type}/{institute.lower}/{dataset.lower}/{freq_folder}/{short_name}{freq_base}'
    RCAST: '{dataset}'
  input_file:
    default: '{project}_{dataset}_{type}_{version}_{mip}_{short_name}[_.]*nc'
    BSC: '{short_name}_*.nc'
    RCAST: '{short_name}_{mip}_{type}_{dataset}_*.nc'
  output_file: '{project}_{dataset}_{type}_{version}_{mip}_{short_name}_{start_year}-{end_year}'
  cmor_type: 'CMIP5'

OBS6:
  cmor_strict: false
  input_dir:
    default: 'Tier{tier}/{dataset}'
    BSC: '{type}/{institute.lower}/{dataset.lower}/{freq_folder}/{short_name}{freq_base}'
  input_file:
    default: '{project}_{dataset}_{type}_{version}_{mip}_{short_name}[_.]*nc'
    BSC: '{short_name}_*.nc'
  output_file: '{project}_{dataset}_{type}_{version}_{mip}_{short_name}_{start_year}-{end_year}'
  cmor_type: 'CMIP6'

obs4mips:
  cmor_strict: false
  input_dir:
    default: 'Tier{tier}/{dataset}'
    RCAST: '/'
  input_file: '{short_name}_{dataset}_{level}_{version}_*.nc'
  output_file: '{project}_{dataset}_{level}_{version}_{short_name}_{start_year}-{end_year}'
  cmor_type: 'CMIP6'
  cmor_path: 'obs4mips'
  cmor_default_table_prefix: 'obs4MIPs_'

ana4mips:
  cmor_strict: false
  input_dir:
    default: 'Tier{tier}/{dataset}'
    RCAST: '/'
  input_file: '{short_name}_{mip}_{type}_{dataset}_*.nc'
  output_file: '{project}_{mip}_{type}_{dataset}_{short_name}_{start_year}-{end_year}'
  cmor_type: 'CMIP5'
  # TODO: add cmor_path and table and set cmor_strict to true

EMAC:
  input_dir:
    default: '{dataset}'
  input_file: ''
  output_file: '{dataset}_{ensemble}_{short_name}_{start_year}-{end_year}'
  cmor_type: 'CMIP5'
