<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="run/style.css">
  <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Noto+Sans+Display">
  <title>{{ title }}</title>
  <br>
  <img src="run/logo.png">
</head>
