<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  <style>
    html {
      font-size: medium;
    }
    body {
      color: #444;
      font-family: georgia, times, serif;
      font-size: 1rem;
      line-height: 1.4;
      margin: 2rem auto 8rem;
      max-width: 1920px;
      padding: 0 2em;
      width: auto;
    }
    a {
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
    h1,h2,h3,h4,h5,h6 {
      color: #444;
      font-weight: bold;
      line-height: 1.2;
      margin-bottom: 1em;
      margin-top: 2em;
    }
    h1 {
      font-size: 2.2em;
    }
    h2 {
      font-size: 1.8em;
      border-bottom: solid 0.1rem #444;
    }
    h3 {
      font-size: 1.5em;
    }
    h4 {
      font-size: 1.3em;
    }
    h5 {
      font-size: 1.2em;
      font-style: italic;
    }
    h6 {
      font-size: 1.1em;
      margin-bottom: 0.5rem;
    }
    pre,
    code,
    xmp {
      font-family: courier;
      font-size: 1.1rem;
      line-height: 1.4;
      white-space: pre-wrap;
    }
    img {
      width: 500px;
    }
    figure {
      display: inline-block;
      width: 500px;
      margin-top: 1em;
      margin-bottom: 1em;
      margin-left: 1em;
      margin-right: 1em;
    }
  </style>
</head>
