<!DOCTYPE html>
<html lang="en">

  {% with title=info.name %}
    {% include 'head.j2' %}
  {% endwith %}

  <body>

    {% include 'RecipeInfo.j2' %}

    {% include 'RecipeOutput.j2' %}

  </body>

  <h2>Files</h2>

  <p>
    <a href='{{ session.relative_main_log }}'>{{ session.main_log.name }}</a> |
    <a href='{{ session.relative_main_log_debug }}'>{{ session.main_log_debug.name }}</a> |
    <a href='{{ session.relative_run_dir / info.filename }}'>{{ info.filename }}</a> |
    <a href='{{ session.relative_plot_dir }}'>figures</a> |
    <a href='{{ session.relative_work_dir }}'>data</a>
  </p>

</html>
