<!-- Filter -->
<h3>Filter</h3>
<div class="filter">
    {% for filter_type, types in filters.items() %}
    <div class="filter_{{ filter_type }}">
        <p>{{ filter_type }}</p>
        <ul>
            {% for t in types %}
            <li><input type="checkbox" rel="f_{{ t|replace(' ', '_') }}" onclick="updateFilter()">{{ t|replace('_', ' ')|title }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
    <button onclick="resetFilter()">Reset Filter</button>
</div>
<p><input type="checkbox" id="cb_hideEmptyDiagnostics" onclick="updateFilter()" checked="true"> Hide empty diagnostics</p>


<!-- Tab links -->
<div class="tab">
  <button class="tablinks activeTablink" onclick="openTab(event)" id="tabAll">All</button>
  {% for diagnostic in diagnostics %}
    <button class="tablinks" onclick="openTab(event)" value="tab_{{ diagnostic.title }}">{{ diagnostic.title }}</button>
  {% endfor %}
</div>

<div class="tabbox">
{% for diagnostic in diagnostics %}

  <div id="tab_{{diagnostic.title}}" class="tabcontent">
    <h2>{{ diagnostic.title }}</h2>
    <p>{{ diagnostic.description }}</p>

    {% for task in diagnostic.task_output %}

      {% include 'TaskOutput.j2' %}

    {% endfor %}
  </div>

{% endfor %}
</div>

<script>
{% include 'scripts.js' %}
</script>