<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ info.name }}</title>
</head>
<body>

{% include 'recipe_info.j2' %}

{% include 'recipe_task_output.j2' %}

</body>
</html>
