<!DOCTYPE html>
<html lang="en">

  {% with title=info.name %}
    {% include 'head.j2' %}
  {% endwith %}

  <body>

    {% include 'recipe_info_section.j2' %}

    {% include 'recipe_output_section.j2' %}

  </body>

</html>
